@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.black {
   background-color: black;
}

.main {
 
}

.clockface {
    background-image: url(../img/clock-face.svg);
    position: relative;
    width: 300px;
    height: 300px;
}

.center {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: calc(50% - 14px);
    left: calc(50% - 14px);
}

.clockface:hover .hand-hour {
    transform: rotate(360deg);
    transition: all 6s linear;
    
}

.clockface:hover .hand-minute {
    transform: rotate(4320deg);
    transition: all 6s linear;
}

.hand {
    position: absolute;
    width: 14px;
    bottom: 50%;
    left: calc(50% - 7px);
    transform-origin: center bottom;
}

.hand-hour{
   
}

.hand-minute{

}

